@use "./../../base/responsive" as mix;
.sectionSix {
  height: 70vh;
  background-color: black;
  padding: 5rem 0;

  &-grid {
    padding: 5rem;
    width: 100%;
    background-color: black;
    @include mix.respond(smallPhone) {
      padding: 4rem 2rem;
    }
    @include mix.respond(phone) {
      padding: 4rem 2rem;
    }
    @include mix.respond(tablets) {
      padding: 6rem 2rem;
    }
    @include mix.respond(bigTablets) {
      padding: 4rem 2rem;
    }
    @include mix.respond(desktop) {
      padding: 4rem 2rem;
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.5rem;

      @include mix.respond(tablets) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
      }
      @include mix.respond(bigTablets) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
      }

      @include mix.respond(phone) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
      }
      &:hover .sectionSix-grid-item:not(:hover) {
        opacity: 0.4;
        transition: opacity 0.3s ease;
      }
    }

    &-brand {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 1rem;
      margin-bottom: 2rem;
      color: white;
      font-weight: 200;
      font-size: 20px;
      gap: 10px;
    }

    &-item {
      height: 8rem;
      background-color: #7e7e7e;
      transition: opacity 0.3s ease;
      border-radius: 5px;

      @include mix.respond(smallPhone) {
        height: 8rem;
      }
      @include mix.respond(phone) {
        height: 8rem;
      }
      @include mix.respond(tablets) {
        height: 8rem;
      }
    }
  }
}
@include mix.respond(smallPhone) {
  .sectionSix-grid-main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .sectionSix-grid-item {
    display: none;
  }

  .sectionSix-grid-item:nth-child(-n + 8) {
    display: block;
  }
}

.downarrow {
  font-size: 3.5rem;
  cursor: pointer;

  @include mix.respond(smallPhone) {
    font-size: 2.5rem;
  }
  @include mix.respond(phone) {
    font-size: 2.5rem;
  }

  @include mix.respond(tablets) {
    font-size: 3rem;
  }

  @include mix.respond(bigTablets) {
    font-size: 3rem;
  }

  @include mix.respond(desktop) {
    font-size: 4rem;
  }
}
