@use "./../base/responsive" as mix;
.scroll-card-box {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: sticky;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mix.respond(smallPhone) {
    height: 90vh;
    align-items: start;
  }
  @include mix.respond(tablets) {
    height: 100vh;
  }
}

.scroll-card-box-container {
  height: 100vh;
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 5rem;

  @include mix.respond(smallPhone) {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    height: 32.5rem;
  }
  @include mix.respond(phone) {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    height: 32.5rem;
  }
  @include mix.respond(tablets) {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 80vh;
  }
  @include mix.respond(bigTablets) {
    display: flex;
    flex-direction: column;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 80vh;
  }
}

.scroll-card-box-left {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 8rem 2rem;

  @include mix.respond(smallPhone) {
    padding: 1rem;
    width: 100%;
  }
  @include mix.respond(phone) {
    padding: 1rem;
    width: 100%;
  }

  @include mix.respond(tablets) {
    width: 100%;
    justify-content: unset;
    height: fit-content;
  }
  @include mix.respond(bigTablets) {
    width: 90%;
    justify-content: unset;
    height: fit-content;
  }

  & .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;

    gap: 1rem;
    font-size: 1.2rem;

    @include mix.respond(smallPhone) {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 1rem;
      width: 100%;
    }
    @include mix.respond(phone) {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-bottom: 1rem;
      width: 100%;
    }
    @include mix.respond(tablets) {
      justify-content: start;
    }
    @include mix.respond(bigTablets) {
      justify-content: start;
    }

    & .num {
      background-color: black;
      border-radius: 50%;
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mix.respond(smallPhone) {
        font-size: 15px;
        height: 2rem;
        width: 2rem;
      }
      @include mix.respond(bigTablets) {
        font-size: 20px;
      }
    }
  }

  & .title {
    width: 70%;

    @include mix.respond(smallPhone) {
      width: 100%;
    }
    @include mix.respond(tablets) {
      width: 75%;
    }
    @include mix.respond(bigTablets) {
      width: 100%;
    }
  }

  & .title div {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

    @include mix.respond(smallPhone) {
      font-size: 1.5rem;
      margin-left: 0rem;
      width: 100%;
    }
    @include mix.respond(phone) {
      font-size: 1.5rem;
      margin-left: 0rem;
      width: 100%;
    }
    @include mix.respond(tablets) {
      margin-left: 0rem;
    }
    @include mix.respond(bigTablets) {
      margin-left: 0rem;
      font-size: 3rem;
    }
  }

  & p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 2rem;

    @include mix.respond(smallPhone) {
      margin-left: 0rem;
      font-size: 0.8rem;
    }
    @include mix.respond(phone) {
      margin-left: 0rem;
      font-size: 0.8rem;
    }

    @include mix.respond(tablets) {
      margin-left: 0rem;
    }
    @include mix.respond(bigTablets) {
      margin-left: 0rem;
      font-size: 1.2rem;
    }
  }
}

.scroll-card-box-right {
  height: 100%;
  width: 50%;
  background-color: rgb(221, 221, 221);
  border-radius: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include mix.respond(smallPhone) {
    display: none;
  }
  @include mix.respond(phone) {
    display: none;
  }
  @include mix.respond(bigTablets) {
    margin-right: 2rem;
    margin-left: 0rem;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include mix.respond(smallPhone) {
      display: none;
    }
  }
}
.scroll-card-box-center {
  height: 50rem;
  width: 65%;
  background-color: rgb(249, 249, 249);
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 1rem;

  @include mix.respond(smallPhone) {
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-radius: 1rem;
  }
  @include mix.respond(phone) {
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-radius: 1rem;
  }
  @include mix.respond(tablets) {
    // margin-left: 4rem;
    // margin-top: 1rem;
    width: 100%;
    height: 20rem;
  }
  @include mix.respond(bigTablets) {
    width: 100%;
    height: 40rem;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;

    @include mix.respond(smallPhone) {
      border-radius: 1rem;
      width: 100%;

      object-fit: cover;
    }
    @include mix.respond(tablets) {
      border-radius: 1rem;
    }
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .scroll-card-box-center {
    margin-top: 1rem;
  }
  .title {
    margin-bottom: 4rem;
  }
}
