@use "./../../base/responsive" as mix;

.imageSection {
  height: 150vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../../src/assets/lalsonsHome.jpg");
  background-size: cover;
  background-position: center 32%;
  background-repeat: no-repeat;
  position: relative;

  @include mix.respond(tablets) {
    height: 100vh;
  }
  @include mix.respond(smallPhone) {
    height: 110vh;
  }
  @include mix.respond(phone) {
    height: 110vh;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    padding: 7rem;

    @include mix.respond(smallPhone) {
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }
    @include mix.respond(phone) {
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }
    @include mix.respond(tablets) {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
    }

    &-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include mix.respond(smallPhone) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
      @include mix.respond(phone) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }

      @include mix.respond(tablets) {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &-we {
        color: white;
        font-weight: 600;
        font-size: 4rem;
        width: 43rem;

        @include mix.respond(smallPhone) {
          font-weight: 400;
          font-size: 2rem;
          width: 15rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        @include mix.respond(phone) {
          font-weight: 400;
          font-size: 2rem;
          width: 15rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        @include mix.respond(tablets) {
          font-weight: 400;
          font-size: 2rem;
          width: 13rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include mix.respond(bigTablets) {
          font-weight: 500;
          font-size: 3.7rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include mix.respond(desktop) {
          font-size: 3.2rem;
        }
        @include mix.respond(bigDesktop) {
          font-size: 3.5rem;
        }
      }
      &-brand {
        color: white;
        font-weight: 200;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.downarrow {
  font-size: 5.5rem;
  cursor: pointer;

  @include mix.respond(smallPhone) {
    font-size: 2.5rem;
  }
  @include mix.respond(phone) {
    font-size: 2.5rem;
  }

  @include mix.respond(tablets) {
    font-size: 3rem;
  }

  @include mix.respond(desktop) {
    font-size: 4.5rem;
  }
}

.banner-container {
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  height: 35vh;
}

.text-center {
  color: #ffffff;
  line-height: 3.8rem;

  @include mix.respond(smallPhone) {
    line-height: 2rem;
  }

  @include mix.respond(phone) {
    line-height: 3rem;
  }

  @include mix.respond(tablets) {
    line-height: 3.2rem;
  }

  @include mix.respond(bigTablets) {
    line-height: 3.2rem;
  }

  @include mix.respond(desktop) {
    line-height: 3.4rem;
  }
}

.large-text {
  font-size: 6.5rem;

  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @include mix.respond(smallPhone) {
    font-size: 2.5rem;
  }

  @include mix.respond(phone) {
    font-size: 4rem;
  }

  @include mix.respond(tablets) {
    font-size: 5rem;
  }

  @include mix.respond(bigTablets) {
    font-size: 5.2rem;
  }

  @include mix.respond(desktop) {
    font-size: 5.5rem;
  }

  @include mix.respond(bigDesktop) {
    font-size: 7rem;
  }
}

.small-text1 {
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @include mix.respond(smallPhone) {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  @include mix.respond(phone) {
    font-size: 2rem;
  }

  @include mix.respond(tablets) {
    font-size: 2.2rem;
  }

  @include mix.respond(bigTablets) {
    font-size: 2.5rem;
  }

  @include mix.respond(desktop) {
    font-size: 2.5rem;
  }

  @include mix.respond(bigDesktop) {
    font-size: 2.8rem;
  }
}

.small-text2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  margin-right: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @include mix.respond(smallPhone) {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  @include mix.respond(phone) {
    font-size: 2rem;
  }

  @include mix.respond(tablets) {
    font-size: 2.2rem;
  }

  @include mix.respond(bigTablets) {
    font-size: 2.5rem;
  }

  @include mix.respond(desktop) {
    font-size: 2.5rem;
  }

  @include mix.respond(bigDesktop) {
    font-size: 2.8rem;
  }
}
