@use "../../base/responsive" as responsive;

.about-detail-container {
  display: flex;
  flex-direction: column;
  background-color: black;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1741700044/Frame402_lobwua.png");
    background-size: cover;
    height: 60vh;

    @include responsive.respond(smallPhone) {
      height: 20vh;
    }
    @include responsive.respond(phone) {
      height: 20vh;
    }
    @include responsive.respond(tablets) {
      height: 45vh;
    }
    @include responsive.respond(bigTablets) {
      height: 45vh;
    }
    @include responsive.respond(desktop) {
      height: 50vh;
    }
    @include responsive.respond(bigDesktop) {
      height: 55vh;
    }

    &-logo {
      width: 300px;
      height: auto;

      @include responsive.respond(smallPhone) {
        display: none;
      }
      @include responsive.respond(phone) {
        display: none;
      }
      @include responsive.respond(tablets) {
        display: none;
      }
      @include responsive.respond(bigTablets) {
        width: 260px;
      }
    }

    &-title {
      color: white;
      font-size: 4rem;
      font-weight: 600;
      text-align: center;
      color: #fff;
      text-align: justify;
      font-size: 80px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -3.2px;

      @include responsive.respond(smallPhone) {
        font-size: 2.1rem;
      }
      @include responsive.respond(phone) {
        font-size: 3rem;
      }
      @include responsive.respond(tablets) {
        font-size: 3.8rem;
      }
      @include responsive.respond(bigTablets) {
        font-size: 3.8rem;
      }
    }
  }

  &-content {
    padding: 6% 10%;

    @include responsive.respond(smallPhone) {
      padding: 5%;
    }

    @include responsive.respond(phone) {
      padding: 5%;
    }

    @include responsive.respond(tablets) {
      padding: 5%;
    }

    @include responsive.respond(bigTablets) {
      padding: 4% 8%;
    }

    @include responsive.respond(desktop) {
      padding: 8% 12%;
    }

    @include responsive.respond(bigDesktop) {
      padding: 10% 15%;
    }

    &-heading {
      font-size: 2rem;
      font-weight: 600;
      text-align: left;
      color: #fff;
      text-align: justify;
      font-family: Inter, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include responsive.respond(smallPhone) {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      @include responsive.respond(phone) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      @include responsive.respond(tablets) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      @include responsive.respond(bigTablets) {
        font-size: 2rem;
      }
      @include responsive.respond(desktop) {
        font-size: 2rem;
      }
      @include responsive.respond(bigDesktop) {
        font-size: 2rem;
      }
    }

    &-text {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: left;
      color: white;
      color: rgba(255, 255, 255, 0.8);
      text-align: justify;
      font-family: Inter, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.24px;

      @include responsive.respond(smallPhone) {
        font-size: 1.2rem;
        line-height: 24px;
        letter-spacing: 0.14px;
      }
      @include responsive.respond(phone) {
        font-size: 1.5rem;
        line-height: 30px;
        letter-spacing: 0.14px;
      }

      @include responsive.respond(tablets) {
        line-height: 32px;
      }

      @include responsive.respond(bigTablets) {
        line-height: 32px;
      }
    }
  }

  &-imageRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    @include responsive.respond(smallPhone) {
      flex-direction: column;
      gap: 1rem;
      padding: 5%;
    }

    @include responsive.respond(phone) {
      flex-direction: column !important;
      gap: 1rem;
      padding: 5%;
    }

    @include responsive.respond(tablets) {
      flex-direction: column;
      gap: 1rem;
      padding: 5%;
    }

    &-card1,
    &-card2,
    &-card3 {
      width: calc((100% - 4rem) / 3);
      height: 600px;

      @include responsive.respond(smallPhone) {
        width: 100%;
        height: 450px;
      }
      @include responsive.respond(phone) {
        width: 100%;
        height: 450px;
      }
      @include responsive.respond(tablets) {
        width: 100%;
        height: 500px;
      }
    }

    &-card1 {
      background-image: url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1741700042/Frame406_tzu0ac.png");
      background-size: cover;
      background-position: top;
    }

    &-card2 {
      background-color: rgba(255, 255, 255, 0.08);
      padding: 4.5%;
      display: flex;
      align-items: end;
      justify-content: center;

      &-content {
        color: #fff;
        text-align: justify;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -0.96px;

        @include responsive.respond(smallPhone) {
          font-size: 28px;
          line-height: normal;
        }
        @include responsive.respond(phone) {
          font-size: 32px;
          line-height: 38px;
        }
        @include responsive.respond(tablets) {
          font-size: 32px;
          line-height: 38px;
        }
      }
    }

    &-card3 {
      background-image: url("https://res.cloudinary.com/dzuqczvb7/image/upload/v1741700043/Frame408_ugjkxg.png");
      background-size: cover;
      background-position: top;
    }
  }

  &-paragraph {
    padding: 6% 10%;
    padding-left: calc((100% - 4rem) / 3);
    &-text {
      color: rgba(255, 255, 255, 0.8);
      text-align: justify;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.24px;
      padding-left: 2rem;

      @include responsive.respond(smallPhone) {
        padding-left: 0;
        font-size: 19.2px;
      }

      @include responsive.respond(phone) {
        padding-left: 0;
        font-size: 1.5rem;
      }

      @include responsive.respond(tablets) {
        font-size: 1.5rem;
        padding-left: 0;
      }
    }

    @include responsive.respond(smallPhone) {
      padding: 5%;
    }

    @include responsive.respond(phone) {
      padding: 5%;
    }

    @include responsive.respond(tablets) {
      padding: 5%;
    }
  }
}
